:root {
  --primary-color: #123524;
  --secondary-color: #efe3c2;
  --thirt-color: #3e7b27;
  --fourth-color: #85a947;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Charm";
  background-color: var(--secondary-color);
}

/* navbar  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7%;
  background-color: var(--primary-color);
  border-bottom: 5px solid var(--fourth-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 3rem;
  font-weight: 800;
  color: var(--secondary-color);
}

.navbar .navbar-logo span {
  color: var(--fourth-color);
}

.navbar .navbar-nav a {
  color: var(--secondary-color);
  font-size: 2rem;
  margin: 0.5rem;
  display: inline-block;
}

.navbar .navbar-nav a:hover {
  color: var(--fourth-color);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.3rem solid var(--fourth-color);
  transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
  transition: 0.3s;
}

/* langsung aja dipanggil idnya */
#burger {
  display: none;
  background: transparent;
  border: none;
  outline: none;
  color: var(--secondary-color);
  cursor: pointer;
}

#cart {
  background: transparent;
  border: none;
  outline: none;
  margin: 1rem;
  color: var(--secondary-color);
  cursor: pointer;
}

#burger:hover {
  color: var(--fourth-color);
}

#cart:hover {
  color: var(--fourth-color);
}

#search-button {
  background: transparent;
  border: none;
  outline: none;
  margin: 1rem;
  color: var(--secondary-color);
  cursor: pointer;
  margin-right: 0;
}

#search-button:hover {
  color: var(--fourth-color);
}

/* navbar search form  */

.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 5%;
  background-color: white;
  width: 30rem;
  height: 4rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.navbar .search-form.active {
  transform: scaleY(1);
  transition: 0.3s;
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  color: var(--primary-color);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--primary-color);
  margin-top: 0.5rem;
}
/* navbar search form end  */

/* shopping-card start  */
.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  color: var(--secondary-color);
  background-color: var(--thirt-color);
  overflow-y: auto;
  transition: 0.3s;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  position: relative;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
}

.shopping-cart img {
  height: 6rem;
  border-radius: 10%;
}

.shopping-cart h3 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}
.shopping-cart h2 {
  font-size: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid white;
  position: relative;
  margin: 0;
}

.shopping-cart .item-price {
  font-size: 1.3rem;
  font-family: "Times New Roman", Times, serif;
}

.shopping-cart .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
.shopping-cart .remove-item:hover {
  color: var(--primary-color);
}

.shopping-cart .CO {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem;
  border-radius: 10%;
  cursor: pointer;
  position: absolute;
  left: 27rem;
  bottom: 9rem;
}

.shopping-cart .CO:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* shopping-card end  */

/* navbar end  */
/* hero section start  */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../assets/img/bg//bgteh.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(239, 227, 194) 10%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 3.5rem;
  color: var(--secondary-color);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--fourth-color);
}

.hero .content p {
  font-size: 2rem;
  margin-top: 1rem;
  line-height: 1, 4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
  color: white;
  text-indent: 20px;
}

.hero .content .cta {
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  font-weight: 900;
  font-family: monospace;
  color: var(--primary-color);
  background-color: var(--fourth-color);
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* hero saction end  */

/* about section start  */
.about,
.menu,
.contact {
  padding: 10rem 7% 1.4rem;
}

.about h2,
.menu h2,
.contact h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: bolder;
  background-color: rgba(133, 169, 71, 0.5);
}

.about h2 span,
.menu h2 span,
.contact h2 span {
  color: var(--primary-color);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 20rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.about .row .content p {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  font-weight: 700;
  line-height: 2;
  font-family: monospace;
  text-indent: 20px;
}

/* about section end  */

/* menu section start  */
.menu {
  padding: 10rem 7% 1.4rem;
}

.menu h2,
.contact h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: bolder;
  background-color: rgba(133, 169, 71, 0.5);
}

.menu h2 span {
  color: var(--primary-color);
}

.menu p,
.contact p {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  font-family: monospace;
  line-height: 1.6;
}

.menu .kategori {
  margin-top: 5rem;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 5rem;
  background-color: rgba(133, 169, 71, 0.5);
  padding-left: 3rem;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  margin: 2rem;
  background-color: var(--fourth-color);
  border-radius: 10px;
}
.menu .row .menu-card .menu-card-img {
  height: 200px;
  width: 200px;
}
.menu .row .menu-card img {
  width: 100%;
  border-radius: 10px;
}
.menu .row .menu-card p {
  font-size: 1.5rem;
  font-weight: bold;
}
.menu .row .menu-card p span {
  color: rgb(66, 66, 66);
  font-size: 1rem;
  text-decoration: line-through;
}

.menu .row .menu-card .menu-card-title {
  margin-top: 1.5rem auto 0.5rem;
  font-size: 2rem;
}

.menu .row .menu-card .cart-menu {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  margin-left: 2rem;
}
.menu .row .menu-card .cart-menu h4 {
  font-size: 1rem;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  background-color: rgba(255, 255, 0, 0.5);
  padding: 0.2rem;
  border: 1px solid orange;
  border-radius: 5px;
}
.menu .row .menu-card .cart-menu .star {
  display: flex;
  align-items: center;
  padding: 4px;
  /* fill: black; */
}
.menu .row .menu-card .cart-menu h4 .star {
  display: flex;
  align-items: center;
  padding: 4px;
  fill: yellow;
}

.menu .row .menu-card .add-cart {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}
.menu .row .menu-card .add-cart:hover {
  background-color: var(--thirt-color);
  color: var(--primary-color);
  font-weight: bold;
}

/* menu section end  */

/* contact section start  */

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: rgba(133, 169, 71, 0.5);
  border-radius: 5%;
  border: 1px solid var(--primary-color);
}

.contact .row .maps {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
  border-radius: 6%;
  border: 1px solid var(--primary-color);
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form label {
  font-size: 2rem;
  font-weight: 600;
}

.contact .row form .input-grup {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  padding-left: 2rem;
}

.contact .row form .input-grup input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  background: none;
}
.contact .row form .input-grup textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  background: none;
}

.contact .row form .btn {
  margin-top: 2rem;
  background-color: var(--fourth-color);
  padding: 1rem;
  color: var(--primary-color);
  display: inline-block;
  border: 1px solid var(--primary-color);
  border-radius: 5%;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}
.contact .row form .btn:hover {
  color: var(--secondary-color);
  background-color: #123524;
}

/* contact section end  */

/* popup contact start  */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popup {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 2rem;
  border-radius: 10px;
  width: 320px;
  text-align: center;
  transform: scale(0.8);
  transition: transform 0.3s ease;
}

.popup h2 {
  font-size: 2rem;
}

.popup h2 span {
  color: #85a947;
}

.popup p {
  font-size: 1.3rem;
  font-family: monospace;
}

.close-popup {
  margin-top: 15px;
  padding: 10px;
  background: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Class Aktif */
.overlay.active {
  visibility: visible;
  opacity: 1;
}

.overlay.active .popup {
  transform: scale(1);
}
/* popup contact end  */

/* footer start  */
footer {
  background-color: var(--primary-color);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
  border-top: 5px solid var(--fourth-color);
}

footer .brand {
  font-size: 3rem;
  color: var(--secondary-color);
}

footer .brand span {
  color: var(--fourth-color);
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: var(--secondary-color);
  margin: 1rem;
  cursor: pointer;
}

footer .social a:hover {
  color: var(--fourth-color);
}

footer .credit {
  color: var(--secondary-color);
  font-size: 2rem;
}

/* footer end  */

/* Modal Box start  */

/* item-detail  */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  position: relative;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin: 10% auto;
  padding: 1.2rem;
  border: 1px solid black;
  width: 80%;
}

.modal-container .close-icon {
  position: absolute;
  right: 1rem;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-content img {
  height: 20rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}

.modal-content a {
  display: flex;
  gap: 1rem;
  width: 12rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin-top: 1rem;
  padding: 1rem 1.6rem;
}

/* Modal Box end  */
/* media queryys */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--thirt-color);
    width: 30rem;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 900;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }
  #burger {
    display: inline-block;
  }

  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    object-fit: cover;
  }
  .about .row .content {
    padding: 0;
  }

  .menu p {
    font-size: 1.5rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .maps {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 1rem;
  }

  .navbar .search-form {
    width: 90%;
  }
  .modal-content {
    flex-wrap: wrap;
  }
}
/* mobile  */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
